*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

nav{
    background-color: #2b0f1b;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}